@use 'styles/abstracts' as variables;

.video-register-modal-container {
  position: relative;
  padding: 60px 40px 0px 40px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include variables.mobile {
    padding: 36px 20px 0px 20px;
    width: calc(100vw - 32px);
  }

  .main-page-modal-title {
    text-align: center;
  }

  .main-page-modal-input-container {
    width: 100%;
    margin-top: 80px;

    @include variables.mobile {
      margin-top: 28px;
    }

    .main-page-modal-input-label {
      margin-bottom: 16px;
    }

    .main-page-modal-input-wrapper {
      width: 100%;
      display: flex;
    }
  }

  .main-page-modal-thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    height: 298px;
    overflow-y: auto;

    @include variables.mobile {
      margin-top: 24px;
      height: 210px;
      width: 100%;
    }
    // Hide scrollbar while keeping scrollability.
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .main-page-modal-thumbnail-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 380px;
      height: 214px;
      min-height: 214px;
      background: variables.$gray-200;
      border-radius: 12px;

      @include variables.mobile {
        width: 100%;
        height: auto;
        min-height: 0;
        aspect-ratio: 16 / 9;
      }

      .main-page-modal-thumbnail-empty-image {
        width: 80px;
        height: 80px;
      }
    }

    .main-page-modal-thumbnail-registering {
      width: 380px;
      height: 214px;
      border-radius: 12px;

      @include variables.mobile {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
      }

      & + .main-page-modal-thumbnail-registering {
        margin-top: 36px;

        @include variables.mobile {
          margin-top: 16px;
        }
      }
    }

    .main-page-modal-thumbnail-registered {
      width: 380px;
      height: 214px;
      margin-top: 36px;
      border-radius: 12px;

      @include variables.mobile {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        margin-top: 16px;
      }
    }
  }

  .video-register-modal-button-wrapper {
    width: 100%;
    padding: 12px 10px 40px 10px;

    @include variables.mobile {
      padding: 12px 0px 24px 0px;
    }
  }

  .video-recommend-add-btn {
    position: absolute;
    bottom: 128px;
    z-index: 10;

    @include variables.mobile {
      position: relative;
      bottom: auto !important;
      margin-top: 16px;
      margin-bottom: 8px;
      z-index: 10;
    }
  }
}
