@use "styles/abstracts" as variables;

.screen-container {
  overflow-x: visible;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin-inline: auto;
}

@include variables.mobile {
  .screen-container {
    max-width: 100%;
  }
}
