@use "styles/abstracts" as variables;

.some-icon {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &.large-next {
    width: 32px;
    height: 32px;
  }
  &.small-next {
    width: 24px;
    height: 24px;
  }
  &.close {
    width: 20px;
    height: 20px;
  }
  &.more {
    border-radius: 100%;
    width: 24px;
    height: 24px;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: variables.$system-dim-white;
      }
    }
  }
}

.some-icon-image {
  &.large-next {
    width: 32px;
    height: 32px;
  }
  &.small-next {
    width: 24px;
    height: 24px;
  }
  &.close {
    width: 20px;
    height: 20px;
  }
  &.more {
    width: 24px;
    height: 24px;
  }
}
