@use 'styles/abstracts' as variables;

.chip {
  position: relative;

  color: variables.$gray-900;
  background: variables.$gray-50;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.15s ease, color 0.15s ease;

  &.category-big {
    padding: 8px 16px;
    height: 39px;

    @include variables.tablet {
      padding: 7px 14px;
      height: 36px;
    }
  }

  &.category-small {
    padding: 8px 12px;
    height: 32px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(.selected) {
      &.all {
        color: variables.$gray-50;
        background: variables.$gray-900;
      }

      &.happy {
        background: variables.$category-joyful-tinted;
        color: variables.$gray-900;
      }

      &.surprise {
        background: variables.$category-surprised-tinted;
        color: variables.$gray-900;
      }

      &.sad {
        background: variables.$category-sad-tinted;
        color: variables.$gray-900;
      }

      &.angry {
        background: variables.$category-angry-tinted;
        color: variables.$gray-900;
      }

      &.neutral {
        background: variables.$category-neutral-tinted;
        color: variables.$gray-900;
      }

      &.plus {
        background: variables.$gray-100;
      }
    }
  }

  &.selected {
    &.all {
      color: variables.$gray-50;
      background: variables.$gray-900;
    }

    &.happy {
      background: variables.$category-joyful-basic;
      color: variables.$gray-900;
    }

    &.surprise {
      background: variables.$category-surprised-basic;
      color: variables.$gray-900;
    }

    &.sad {
      background: variables.$category-sad-basic;
      color: variables.$gray-900;
    }

    &.angry {
      background: variables.$category-angry-basic;
      color: variables.$gray-900;
    }

    &.neutral {
      background: variables.$category-neutral-basic;
      color: variables.$gray-900;
    }
  }
}

.plus-icon {
  @include variables.desktop {
    width: 20px;
    height: 20px;
  }
  @include variables.mobile {
    width: 15px;
    height: 15px;
  }
}
