@use 'styles/abstracts' as variables;

.emotion-badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  &.big {
    width: 24px;
    height: 24px;
    padding: 4px;

    @include variables.tablet {
      width: 32px;
      height: 32px;
      padding: 5px;
    }

    @include variables.mobile {
      width: 36px;
      height: 36px;
      padding: 6px;
    }
  }

  &.small {
    min-width: 16px;
    width: 16px;
    height: 16px;
    padding: 2px;
  }

  &.happy {
    background: variables.$category-joyful-tinted;
  }

  &.surprise {
    background: variables.$category-surprised-tinted;
  }

  &.sad {
    background: variables.$category-sad-tinted;
  }

  &.angry {
    background: variables.$category-angry-tinted;
  }

  &.neutral {
    background: variables.$category-neutral-tinted;
  }

  .emotion-emoji {
    &.big {
      font-size: 16px;
      line-height: 16px;

      @include variables.tablet {
        font-size: 22px;
        line-height: 22px;
      }

      @include variables.mobile {
        font-size: 24px;
        line-height: 24px;
      }
    }

    &.small {
      font-size: 12px;
      line-height: 12px;
    }
  }
}
