@use '../abstracts' as *;

// ------------------
// Typography
// ------------------

.font-title-large {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -2%;

  @include mobile {
    font-size: 26px;
    line-height: 36px;
  }
}

.font-title-medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;

  @include mobile {
    font-size: 21px;
    line-height: 30px;
  }
}

.font-title-small {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;

  @include mobile {
    font-size: 18px;
    line-height: 24px;
  }
}

.font-title-mini {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -2%;

  @include mobile {
    font-size: 15px;
    line-height: 20px;
  }
}

.font-body-large {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;

  @include mobile {
    font-size: 15px;
    line-height: 22px;
  }
}

.font-body-medium {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;

  @include mobile {
    font-size: 14px;
    line-height: 20px;
  }
}

.font-label-large {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -2%;

  @include mobile {
    font-size: 15px;
    line-height: 19px;
  }
}

.font-label-medium {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -2%;

  @include mobile {
    font-size: 14px;
    line-height: 16px;
  }
}

.font-label-small {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -2%;

  @include mobile {
    font-size: 12px;
    line-height: 16px;
  }
}
